//Colors
$primary: #1976d2;
$secondary: #121c30;
$black: #5a616e;
$black-dark: #1a1c1e;
$yellow: #ffc300;
$gray: #858585;
$green: #57cc99;
$red: #ef5d5d;
$blue: #1976d2;
$blue-dark: #121c30;
// fonts

$radius: 12px;
