.auth-wrap {
  .logo {
    padding-top: 80px;
    text-align: center;
    img {
      width: 234px;
    }
  }
  .auth-content {
    h1 {
      font-size: 28px;
      font-weight: 600;
      color: $blue-dark;
      margin: 20px 0 15px 0;
      span {
        color: $blue;
      }
    }
    p {
      font-size: 17px;
      line-height: 23px;
      font-weight: 400;
      color: #4b5259;
    }
    h2 {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 15px;
      color: #121c30;
      margin: 20px 0 5px 0;
    }
  }

  .auth-form {
    .form-group {
      position: relative;

      label {
        color: #414141;
        font-size: 16px;
        line-height: 28px;
      }

      input {
        padding: 8px 44px 8px 10px;
        margin-bottom: 5px;

        &::placeholder {
          color: #bababa;
        }
      }

      i {
        position: absolute;
        top: 39px;
        right: 20px;
        font-size: 22px;
        color: #9e9d9d;
      }
    }
    .password-detail {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .forget-password {
        a {
          font-size: 16px;
          color: #00538f !important;
        }
      }
    }
    .login-button {
      margin: 35px 0 20px 0;
      button {
        width: 100%;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
      }
    }

    .sign-in-google {
      margin: 20px 0 0 0;
      position: relative;
      button {
        width: 100%;
        font-weight: 400;
        color: #777777;
        border: 1.17px solid #e8e8e8;
      }
      img {
        width: 35px;
        position: absolute;
        top: 3px;
        left: 100px;
      }
    }
  }

  .banner-image {
    .close-icon {
      cursor: pointer;
      i {
        font-size: 22px;
      }
    }
  }
}
.dont-sign-up {
  margin: 30px 0;
  text-align: center;
  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  a {
    color: #00538f !important;
  }
}

@media screen and (max-width: 767px) {
  .auth-wrap {
    padding: 20px;
    .auth-form {
      .sign-in-google img {
        left: 58px;
      }
    }
  }
  .reset-password {
    button {
      width: 100%;
    }
  }
}
